<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/addstyle.css">
    <title>Bér hozzáadás</title>
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            appearance: none;
            margin: 0;
        }
    </style>
</head>

<body>
    <div class="fejlec">
        <h2>Bér hozzáadása</h2>
    </div>
    <div class="form">
        <form action="/savedetails" method="post">
            <table>
                <tr>
                    <td>Személyiszám:<span style="color: red;">*</span></td>
                    <td><input type="number" name="id" required></td>
                </tr>
                <tr>
                    <td>Név:<span style="color: red;">*</span></td>
                    <td><input type="text" name="nev" required></td>
                </tr>
                <tr>
                    <td>Bruttó bér:<span style="color: red;">*</span></td>
                    <td><input type="number" name="brutto" required></td>
                </tr>
                <tr>
                    <td><input id="submit" type="submit" value="Elfogad"></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="container">
        <a href="/">Vissza</a>
    </div>

</body>

</html>