<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Kalkulátor</title>

</head>

<body>
    <div class="fejlec">
        <h2>Üdvözöllek a bér kalkulátor oldalunkon.</h2>
    </div>
    <div class="container">
        <a href="/add">Bérszámítás</a>
        <a href="/view">Nettó bérek</a>
        <a href="/delete">Adat törlése</a>
        <a href="/update">Új adat</a>
    </div>

</body>

</html>