<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listázás</title>
</head>

<body>

    <h3>Bér információ</h3>
    <table border=5>
        <thead>
            <td>Személyiszám</td>
            <td>Név</td>
            <td>Bruttó</td>
            <td>Nettó</td>
        </thead>

        {% for row in rows %}

        <tr>
            <td>{{row["id"]}}</td>
            <td>{{row["nev"]}}</td>
            <td>{{row["brutto"]}}</td>
            <td>{{row["netto"]}}</td>
        </tr>

        {% endfor %}
    </table>
    <br><br>

    <a href="/">Vissza a főoldalra</a>

</body>

</html>